<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!--    声明蓝牙权限-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--    声明蓝牙管理权限-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--    声明获取粗略位置权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--    声明获取精确位置权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- required = true 表示手机必须支持BLE，否则无法安装运行-->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />


    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <service android:name=".wifi.WIFIAutoConnectionService" />
        <service
            android:name=".ble.BleService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>