<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SET_ALARM"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <application>
        <receiver
            android:name=".clock.AlarmReceiver"
            android:process=":remote" />
    </application>
</manifest>